<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- This Links is include the hbs partials. --}}
    {{> links}}
</head>

<body>

    <h2>hellow</h2>
    {{!-- Acess the data. into this style. --}}
    {{!-- each is a just like a loop. --}}
    {{!-- itrate over the value. --}}
    {{#each p1}}
    <h2>{{this}}</h2>
    {{/each}}

    {{lowercase "hellow World"}}
    {{lowercase p1.name}}
    {{!-- Check the condition in this value. --}}
    {{#if p1.email}}
    <h1>{{p1.name}}</h1>
    {{/if}}
    <h6>welcome to home page</h6>
</body>

</html>