

.greet{

  text-align: center;
    margin-top: 250px;
    font-size: large;
   text-transform: capitalize;
}
.info{
  background-color: rgba(255, 255, 255, 0.945);
   border-radius: 2px;
   display: inline;
  
}
