body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    box-shadow: 2px 2px 5px 10px rgba(128, 128, 128, 0.287);
    margin: 3px auto;
    width: 1000px;
}
#header{
background-color: purple;
color: white;
padding: 20px 0;
}
#header h1{
    text-align: center;
}
#nav{
    padding: 10px 0;
    background-color: orange;
}
#nav li{
    display: inline-block;
    padding: 0 15px;
    list-style: none;
}
#nav li a{
    color: rgb(108, 47, 187);
   padding: 10px 10px;
    text-decoration: none;
  
}
#nav li a:hover{
    color: white;
    background-color: rgb(38, 8, 66);
}
#main{
    padding: 20px 10px;
    width: 70%;
    float: left;
    min-height: 400px;
}
#sidebar{
    width: 30%;
    background-color: rgb(27, 70, 8);
    float: right;
    min-height: 400px;

}
#sidebar li{
    padding: 6px 0;
    list-style: none;
}
#sidebar li a{
    color: whitesmoke;
  text-decoration: none;
  font-variant: small-caps;
}
#footer{
    padding: 5px 0;
    text-align: center;
    clear: both;
    background-color: salmon;
}