:root {
  --red: red;
}

.greet,
.count {
  text-align: center;
  margin-top: 250px;
  font-size: large;
  text-transform: capitalize;
}

.info {
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 2px;
  display: inline;
}

.card {
  margin: 20px auto;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* Todo App in Css */
.todo {
  min-height: 20rem;
  width: 15rem;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 2rem;
  margin: 3rem auto;
  box-shadow: 5px 4px 9px 0.5px rgba(83, 83, 83, 0.945);
}
.todo label {
  display: block;
  margin: 10px 0 auto;
  padding: 10px 10px;
  text-align: center;
  background-color: rgb(97, 28, 143);
  color: white;
}
.todo .inputbox {
  /* box-shadow: 1px 3px 6px 0.5px rgba(83, 83, 83, 0.945); */
  margin: 1rem auto;
  /* border-radius: 0 1rem 1rem 0; */
  outline: none;
  padding: 0 1rem;
  width: 85%;
  height: auto;
  border: none;
  border-bottom: 3px black solid;
}
.todo .btn {
  border-radius: 30px;
  color: white;
  background-color: green;
  width: auto;
  font-size: small;
  text-align: center;
  display: block;
  margin: 0px auto;
}

/* View Todo component */
.todo .list {
  /* margin: 0 1px 0.5rem; */
  /* padding: 1px 5px 2px; */
  display: flex;
  width: inherit;
  height: 2rem;
  margin: 0;
  /* background-color: rgb(223, 217, 217); */
}
.todo .list i {
  margin: 6px 6px;
  color: rgb(100, 10, 10);
  cursor: pointer;
}
.todo .list ol{
  padding: 2px;
}
.todo .list ol li {
  list-style-type: none;
  text-transform: capitalize;
  font-weight: bold;
}


/* This part of css is Header Section */
.navlink{
  display: flex;
  padding: 6px 10px;
  background-color: orangered;
  
}
.navlink li{
  margin: 10px auto;
  list-style: none;
}
.navlink li>a{
  padding: 7px 8px;
  background-color: blue;
  margin: 7px 5px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}
.navlink li>a:hover{
  background-color: blueviolet;
  color: wheat;
}